<div class="blogListWeaper mt-5">
  <% blogs.reverse() %> 
  <% blogs.forEach(blog => { 
    let st = blog.date
    let dt = st.toDateString()
    %>
  <div class="card mb-3" style="margin-top: 10px;margin-bottom:15px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="\images\<%= blog.images[0] %>"
          class="img-fluid rounded-start" alt="..." style="width:100%">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text"><small class="text-muted">Last updated:  <em> <%= dt %> </em> </small></p>
          <h5 class="card-title"><%= blog.title %> </h5>
          <p class="card-text">T<%= blog.details.slice(0,100) %> </p>
          <a href="/blog/<%= blog._id.toString() %> " class="btn btn-info">Read More</a>
        </div>
      </div>
    </div>
  </div>
  <% }) %>
</div>
